/* 
    Document   : spec
    Created on : 12.03.2013, 21:40:11
    Author     : san4o
    Description:
        Purpose of the stylesheet follows.
*/
body {background-color:#ffcccc;}
.spec img {
           width: 350px;
           height: 450px;
           border:solid #ffffff 3px;
           border-radius: 6px;
           position: absolute;
           top: 150px;
           left:150px;      
}
.spec p { font-size: 24px; 
          width: 400px;
          color: #660033;
          position: absolute;
          top: 170px;
          left: 600px;
          
         }
         .spec h1 {
             text-align: center;
         } 
         .nav img {
                height: 140px;
                width: 100px;
                border: solid 3px #ffffff;
                border-radius: 5px;
         }
         .nav ul {list-style: none;
                  width: 900px;}
         .nav li {margin: 25px;}
         .nav_text a {
                    color: #660033;
                    font-size: 22px;
                    font-family: "Cooper Black",Helvetica, Arial;
                    text-decoration: none;
         }
         .nav_text a visited {
                    color: #660033;
                    font-size: 22px;
                    font-family: "Cooper Black",Helvetica, Arial;
                    text-decoration: none;
         }
         .nav_text ul {
                      position:absolute;
                      left:450px;
                      top:0px;
         }
         .nav_text li {
                       margin: 59px;
         }

