html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffcccc;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

p#title {
    text-align: center;
    font-size: 25px;
    height: 5%;
    width: 100%;
    color: #660033;
    margin: 0;
}

.indent
{
    height: 2.5%;
    width: 100%;
    position: relative;
    float: left;
}

.grid img {
    width: 20%;
    height: 90%;
    border: solid #ffffff 3px;
    border-radius: 6px;
    position: relative;
    float: right;
}

.grid img:hover{
    width: 20%;
    height: 90%;
    border: solid #FFFFFF 3px;
    border-radius: 6px;
    box-shadow: 8px 8px 8px rgba(63, 3, 85, 0.5)
}

.rigtColumn a{
    color: #660033;
    font-size: 22px;
    font-family: "Cooper Black", Helvetica, Arial;
    text-decoration: none;
    position: absolute;
    top: 30%;
    float: left;
}

.grid {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90%;
}

.leftColumn {
    position: relative;
    float: left;
    width: 45%;
    height: 15%;
    margin-right: 2.5%;
    margin-left: 0%;
}

.rigtColumn {
    position: relative;
    float: left;
    width: 45%;
    height: 15%;
    margin-right: 0%;
    margin-left: 2.5%;
}

.spec {
    height: 100%;
    width: 100%;
}

.spec h1 {
    text-align: center;
    height: 10%;
    margin: 0;
}

.spec p {
    text-align: justify;
    font-size: 25px;
    height: 42.5%;
    width: 50%;
    color: #660033;
    position: relative;
    display: block;
    margin: auto;
}

.spec img {
    height: 42.5%;
    width: 30%;
    border:solid #ffffff 3px;
    border-radius: 6px;
    position: relative;
    display: block;
    margin: auto;
}
