html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffcccc;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

body img {
    border: solid #FFFFFF 3px;
    border-radius: 6px;
}

body img#main {
    width: 70%;
    height: 10%;
    display: block;
    margin: auto;
}

@font-face {
    font-family: classic one;
    src: url('../1.ttf'), url('1.eot')
}

body p {
    font-family: classic one;
    width: 90%;
    display: block;
    margin: 0 auto;
    color: #660033;

}