
@font-face {
    font-family: classic one;
    src: url('1.ttf'), url('1.eot')
}

html {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #ffcccc;
    background-size: 100%;
}

.nav {
    width: 70%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.nav_img {
    width: 24%;
    height: 17.6%;
    margin-left: 2%;
    float: left;
    display: block;
}

.nav .first {
    margin-left: 0;
}

.nav_font {
    width: 23%;
    height: 17.6%;
    margin-left: 2%;
    float: left;
    vertical-align: middle;
    color: rgba(45, 11, 68, 0.5);
    font-size: 24px;
    position: relative;
    display: table-cell;
}

.nav_font p {
    position: relative;
    top: 22%;
}

.nav_font a {
    text-decoration: none;
}

.nav_img img {
    width: 100%;
    height: 100%;
    border: solid #FFFFFF;
    border-radius: 6px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.services_img {
    width: 50%;
    height: 450px;
    border: solid;
    border-color: #FFFFFF;
    border-radius: 6px;
    border-width: 3px;
    display: block;
    margin: 0 auto;
}

.services_img img {
    width: 100%;
    height: 100%;
}

.service_font p {
    font-family: classic one;
    width: 90%;
    display: block;
    margin: 0 auto;
    color: #660033;
    font-size: 24px;
    text-align: justify;
}

.indent
{
    height: 2%;
    width: 100%;
    position: relative;
    float: left;
}