/* 
    Document   : services
    Created on : 20.03.2013, 20:32:07
    Author     : san4o
    Description:
        Purpose of the stylesheet follows.
*/

.body{
    background-color: #ffcccc;
    background-size: 100%;
    
}
.block {
    height: 100%;
    width: 100%;
}
.services_img {
     width: 50%;
     height: 450px;
     border: solid;
     border-color: #FFFFFF;
     border-radius: 6px;
     border-width: 3px;
    display: block;
     margin:0 auto;
}
.services_img img{
    width: 100%;
    height: 100%;
}
@font-face {
font-family:classic one;
src:url('1.ttf'),url('1.eot')
}
.service_font p { font-family: classic one;
 width: 90%;
 display: block;
 margin: 0 auto;
 color:#660033;
 font-size: 24px;
 text-align: justify;
 }
 .nav{ width: 70%;
       height: 100%;
       margin-left: 15%;
 }
 .nav_img{ width: 22%;
           margin-left:2%;
           float:left;
         height:18%; 
 }
 .nav_font {
           width: 22%;
           margin-left: 2%;
           float:left;
           text-align:center;
           vertical-align: central;
           color:rgba(45, 11, 68, 0.5);
           font-size: 32px;
           height: 216px;       
 }
 .nav_img img {
              width:100%;
              border:solid;
              border-radius:6px;
              border-color:#FFFFFF;
              
 }